<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Vide</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="config.js" type="text/javascript"></script>
</head>
<body>
    <div class="navbar">
        <a class="accueil" href="index.html">Accueil</a>
        <a href="#about">Page 1</a>
        <a href="#contact">Page 2</a>
        <a classe="connexion" href="#connexion">Connexion</a>
    </div>

    <div class="login-container">
        <form action="/index.html" method="post">
            <h2>Connexion</h2>
            <div class="input-group">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" onclick="saveLogin()">Se connecter</button>
        </form>
    </div>
</body>
</html>
