<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    {% include 'menu.html' %}
    
    
    <div class="login-container">
        <form id="loginForm" action="/connexion.html" method="post" >
            <h2>Inscription</h2>
            <div class="input-group">
                <label for="mail">Mail :</label>
                <input type="text" id="mail" name="mail" required>
            </div>
            <div class="input-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Se connecter</button>
        </form>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}

    </div>
</body>
</html>